<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>인트로 작성</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/sul-game.css}" />
  <!-- Global JS 포함 -->
  <script th:src="@{/js/global.js}"></script>
</head>
<body>
<div class="container">
  <h2>인트로 작성</h2>

  <form th:action="@{/create-intro}" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">제목 / 가사</label>
      <input type="text" class="form-control" id="title" name="title" maxlength="20" placeholder="인트로 제목">
    </div>
    <div class="mb-3">
      <label for="lyrics" class="form-label">인트로 가사</label>
      <textarea class="form-control" id="lyrics" name="lyrics" rows="2" maxlength="150" placeholder="인트로 가사"></textarea>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">인트로 상세설명</label>
      <textarea class="form-control" id="description" name="description" rows="4" maxlength="500" placeholder="인트로의 진행 방법을 작성해 주세요."></textarea>
    </div>

    <!-- 첨부파일 -->
    <div class="mb-3">
      <label class="form-label">첨부파일</label>
      <input type="file" name="introMultipartFiles" multiple accept="image/*, video/*, audio/*" class="form-control">
    </div>

    <!-- 썸네일 아이콘 선택 -->
    <div class="mb-3">
      <label class="form-label">썸네일 아이콘 선택</label>
      <input type="file" name="thumbnailIcon" accept="image/*" class="form-control">
    </div>

    <!-- 태그 선택 -->
    <div class="mb-3">
      <label class="form-label">태그</label>
      <div>
                    <span th:each="tag : ${introTags}">
                        <input type="checkbox" th:value="${tag.name()}" name="introTags" th:id="${tag.name()}" />
                        <label th:for="${tag.name()}" th:text="${tag.getDescription()}"></label>
                    </span>
      </div>
    </div>

    <!-- 정보 공개 여부 -->
    <div class="mb-3">
      <label class="form-label">내 정보 공개 여부</label>
      <div>
        <input type="radio" id="public" name="isCreatorInfoPrivate" value="false">
        <label for="public">공개</label>
        <input type="radio" id="private" name="isCreatorInfoPrivate" value="true">
        <label for="private">비공개</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">등록하기</button>
  </form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
